<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUuoNt2c3uwUDQoUgVBkjMPzxVUQaL_1E</string>
	<key>GCM_SENDER_ID</key>
	<string>807359687850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegistration</string>
	<key>PROJECT_ID</key>
	<string>login-registration-690d4</string>
	<key>STORAGE_BUCKET</key>
	<string>login-registration-690d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807359687850:ios:c2908ce67b77aa8d53f4d3</string>
</dict>
</plist>